spring:
  application:
    name: member-service

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://member-service-db:5432/${MEMBER_DB_NAME}
    username: ${MEMBER_DB_USERNAME}
    password: ${MEMBER_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/service-app-realm

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PW}

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: member-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.eslirodrigues.member.dto.MemberRequestEvent
        spring.json.trusted.packages: "com.eslirodrigues.member.dto"

  cloud:
    kubernetes:
      discovery:
        enabled: true
        all-namespaces: false
      reload:
        enabled: false
eureka:
  client:
    enabled: false

app:
  rabbitmq:
    exchange:
      pricing: pricing.exchange
    queue:
      price-updated: queue.price-updated.member-service
    routingkey:
      price-updated: price.updated.key

  kafka:
    topic:
      member-requests: member.requests.topic

  services:
    pricing:
      base-url: http://pricing-service:8082/api/v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true